{{!-- This file is original work --}}
<h1>Goldberry Farm Database</h1>
<h2>Overview</h2>
<p>Birdie has inherited her grandfather’s farm, Goldberry Farm, and needs to keep track of expenses and sales. 
    She harvests 5-10 fields worth of Crops from 5 types of Seeds each Season and sells those Crops to about 
    a dozen Customers, generating $100,000 in sales quarterly. A database driven website will record 
    Sales of Crops to Customers. She needs to track the type of seeds bought, the seasons they can be grown in, 
    how many crops she grows from them, how much she sells, and who she sells the final product to.</p>