{{!-- This file is adapted from the NodeJS Starter App code --}}
<h1>Manage Seasons</h1>

<div id="list-seasons">
    <h2>Seasons</h2>
    <table>
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="add-season">
	<h2>Add Season</h2>
	<form method="POST" action="/add-season">
		<fieldset>
            <label for="season=id">ID
                <input type="text" name="season-id" id="season-id" minlength="1" maxlength="2" required />
            </label>
			<label for="season-name">Name
				<input type="text" name="season-name" id="season-name" minlength="1" maxlength="20" required />
		    </label>
		</fieldset>
		<button type="submit" value="submit">Add Season</button>
	</form>
</div>