<div class="nav">
    <a href="/">Home |</a>
    <a href="/seeds"> Seeds |</a>
    <a href="/crops"> Crops |</a>
    <a href="/seasons"> Seasons |</a>
    <a href="/sales"> Sales |</a>
    <a href="/customers"> Customers |</a>
    <a href="/crops-seasons"> Crops by Season</a>
</div>

<h1>Manage Seeds</h1>

<div id="list-seeds">
    {{!-- TODO --}}
</div>

<div id="add-seed">
    {{!-- TODO --}}
</div>

<div id="update-seed">
    {{!-- TODO --}}
</div>

<div id="delete-seed">
    {{!-- TODO --}}
</div>